
.content {

}

/*banner*/
.banner {
	background-image: linear-gradient(25deg, #244865, #4ca8e6);
	margin: auto;
	padding: 20px;
}

.banner > img {
	margin: 10px;
	width: 100px;
	vertical-align: middle;
}

.brief {
	display: inline-block;
	max-width: 60%;
	color: snow;
	font-size: 10px;
	vertical-align: middle;
	padding-left: 20px;
	font-weight: 100;
}

.brief > h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.brief > p {
	margin-top: 5px;
	line-height: 1.4;
}








.intro {
	padding: 5px;
	padding-right: 20px;
	font-weight: 100;
}



.intro h2 {
	color: #224663;
	padding-left: 20px;
	margin: 10px;
	margin-bottom: 0px;
	font-weight: 500;
}

.intro h2 img{
  vertical-align: sub;
}



.intro h4 {
	font-size: 1em;
	font-weight: 400;
	margin: 10px;
	margin-top: 0px;
	padding-left: 54px;
	color: #479ff8;

}
.intro p {
	border-left: 3px solid #d8d8d8;
	margin: 10px 10px 20px 43px;
	padding: 5px 20px;
	/*width: 350px;*/
}
.intro ol{
	margin-left: 57px;
	list-style-type: decimal;
	font-weight: 300;
}
.intro ol li {
	padding: 2px;
}


@media screen and (min-width: 768px){
	.intro {
		margin-right: 100px;
	}
}


/*導覽列*/
nav > a:nth-child(1) {
  font-weight: 500;
  color: #f0437e;
  border-bottom: 2px solid #f0437e;
}

 @media screen and (min-width: 768px){
 	 nav a:nth-child(1) {

	border-bottom: none;
 }